spec2model/mycreds.txt
spec2model/__pycache__/
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
spec2model/client_secrets.json
spec2model/gh_creds.txt
test/mycreds.txt
test/sdo-bioschemas-client.json
/.idea/
/spec2model/mycreds.txt
/spec2model/client_secrets.json
/test/client_secrets.json
/tests/client_secrets.json
/client_secrets.json
/credentials2.json
/map2model.iml
/docs/specifications_md_files/old_md_files.zip
/docs/specifications_md_files/
