spec2model/mycreds.txt
spec2model/__pycache__/
/.idea/
/spec2model/mycreds.txt
/map2model.iml
/docs/specifications_md_files/old_md_files.zip
/docs/specifications_md_files/
.DS_Store
/docs/spec_files/
