
spec2model/mycreds.txt
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
spec2model/client_secrets.json
spec2model/sdo-bioschemas-client.json
test/mycreds.txt
test/sdo-bioschemas-client.json
/.idea/
/spec2model/mycreds.txt
/spec2model/sdo-bioschemas-client.json
